.card-container {
  display: flex;
  margin: 10px;
  margin: 0 auto;
  width: 60%;
  flex-direction: column;
}

.api-label {
  text-align: left;
  margin-bottom: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.overflow-menu {
  align-self: flex-end;
}

.card-text-name,
.card-text-desc {
  text-align: left;
}

.card-text-name {
  font-weight: bold;
  font-size: 16px;
}

.card-text-desc {
  font-size: 14px;
  height: 50px;
  overflow-y: auto;
}

.card-image {
  margin-bottom: 20px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.top-panel__img {
  width: 30px;
}

.top-panel__left {
  display: flex;
  float: left;
  margin: 20px;
}

.top-panel {
  display: inline-block;
  width: 100%;
}

.top-panel__right {
  float: right;
}

.top-panel__right--card {
  display: inline-flex;
  padding: 10px;
}

.top-panel__left--container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 15px;
}

.top-panel__left--container label:nth-child(1),
.text-container label:nth-child(1) {
  font-weight: bold;
}

.top-panel__left--container label + label {
  font-size: 12px;
}

.text-container {
  text-align: right;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.text-container label {
  font-size: 16px;
}

.middle-panel {
  margin-bottom: 30px;
}

.middle-panel div {
  color: orange;
  font-size: 26px;
}

.middle-panel h2 {
  margin: 0;
}

.side-panel {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background: black;
}

.side-panel button {
  color: white;
}

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.add-button {
  position: fixed;
  right: 10px;
  bottom: 20px;
}
